# Next.js static export (Apache / REG.RU)
Options -Indexes

<IfModule mod_mime.c>
  AddType text/css .css
  AddType application/javascript .js
  AddType image/svg+xml .svg
  AddType font/woff2 .woff2
</IfModule>
